.Media {
	cursor: pointer;
	margin-right: 15px;
	margin-left: 15px;
	display: inline-block;
	width: 210px;
    vertical-align: top;
    border: solid 1px #bdbdbd;
    padding: 2%;
    height: 240px;
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

.Media-imagen{
	object-fit:cover;
	

}

.Media-title{
	text-align: center;
	color: #b71c1c ;
	font-size: 1.2vw;
  overflow: hidden;
  padding-top: 8%;
  font-weight: bold;
  text-overflow:ellipsis;
}

.Media-author{
	text-align: right;
	color: #424242;
  font-weight: bold;
	font-style: oblique;


}

