
.categories {
	padding: 10px;
	overflow: hidden;
	background: white;
}

.categoryTitle{
	display: block;
	text-align: left;
	font: bold 20px;
	padding-left: 10px;
	text-transform: uppercase;
	color: #1a237e;
}

.categoryDescription{
	display: block;
	text-align: left;
	font-size: 15px;
	padding-left: 10px;
	font: oblique 110% cursive;
}

body {
margin: 0;
font-family: Arial;
background: #171c30
}
.homeLayout{
display: flex;
margin: 0 auto;
min-height: 100vh;
}